<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.study">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- <uses-permission android:name="com.vivo.android.launcher.permission.CHANGE_BADGE" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/android"
        android:label="@string/app_name"
        android:persistent="true"
        android:resizeableActivity="false"
        android:roundIcon="@drawable/android"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".demo.player.ExoPlayerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".demo.player.NodeMediaPlayerActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".demo.loadingview.LoadingViewActivity" />
        <activity android:name=".demo.notificationDemo.NotificationActivity" />
        <activity android:name=".demo.cardViewDemo.CardViewActivity" />
        <activity android:name=".demo.dialogFragmentDemo.DialogFragmentActivity" />
        <activity
            android:name=".demo.welcome.WelcomeActivity"
            android:launchMode="standard"
            android:theme="@style/TransparentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.retrofit.RetrofitActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.javajs.JavaJsActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.jni.JniActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.refreshRecyclerView.RefreshListActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.view_diy.DivViewMoveActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.mvvm.MVVMActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.mvvm.MVVMnewActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.touchListener.TouchListenerActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.qrcode.QRCodeActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.addressPicker.AddressPickerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.baidumap.BaiduMapActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.theme.ThemeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="BUGLY_APPID"
            android:value="29f089a59e" />
        <meta-data
            android:name="BUGLY_APPKEY"
            android:value="58b8613e-e469-4da2-95ad-35f53e4a7940" /> <!-- <meta-data -->
        <!-- android:name="BUGLY_APP_VERSION" -->
        <!-- android:value="<APP_Version>" /> -->
        <!-- <meta-data -->
        <!-- android:name="BUGLY_APP_CHANNEL" -->
        <!-- android:value="<APP_Channel>" /> -->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />
    </application>

</manifest>