<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.study">
    <!-- 红外遥控 -->
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.TRANSMIT_IR" /> <!-- 仅在支持红外的设备上运行 -->
    <uses-permission android:name="android.permission.NFC" /> <!-- 仅在支持NFC的设备上运行 -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 在您的应用与分区存储完全兼容之前，您可以使用以下方法之一暂时停用分区存储： -->
    <!-- 以Android 9（API 级别 28）或更低版本为目标平台。 -->
    <!-- 如果您以 Android 10（API 级别 29）或更高版本为目标平台，请在应用的清单文件中将 requestLegacyExternalStorage 的值设置为 true： -->
    <!-- 安卓11存储 -->
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <uses-feature
        android:name="android.hardware.ConsumerIrManager"
        android:required="true" /> <!-- 红外 -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:enabled="true"
        android:icon="@drawable/android"
        android:label="@string/app_name"
        android:persistent="true"
        android:resizeableActivity="false"
        android:roundIcon="@drawable/android"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".demo.flow.FlowActivity"
            android:exported="false" />
        <activity
            android:name=".demo.slide.SlideRecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".demo.welcome.WelcomeActivity"
            android:launchMode="standard"
            android:theme="@style/TransparentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".TestIcon1"
            android:enabled="false"
            android:icon="@drawable/account"
            android:label="@string/app_name1"
            android:targetActivity=".demo.welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".TestIcon2"
            android:enabled="false"
            android:icon="@drawable/background"
            android:label="@string/app_name2"
            android:targetActivity=".demo.welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <receiver
            android:name=".demo.microWidget.ClockProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/clock_provider_info" />
        </receiver>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.retrofit.RetrofitActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.javajs.JavaJsActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.jni.JniActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.refreshRecyclerView.RefreshListActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.view_diy.DivViewMoveActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.mvvm.MVVMActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.appicon.AppIconActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.mvvm.MVVMnewActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.moveUnlock.MoveUnlockActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.touchListener.TouchListenerActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.qrcode.QRCodeActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.breatheLight.BreatheActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.palettePager.PalettePagerActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.securityTest.SecurityActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.language.LanguageActivity"
            android:configChanges="locale" />
        <activity
            android:name=".demo.player.ExoPlayerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".demo.player.NodeMediaPlayerActivity"
            android:configChanges="orientation|screenSize|keyboard|locale"
            android:screenOrientation="landscape" />
        <activity
            android:name=".demo.loadingview.LoadingViewActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.viewPager3D.ViewPager3DActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.shareAnimation.DetailActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.shareAnimation.ShareAnimationActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.notificationDemo.NotificationActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.cardViewDemo.CardViewActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.dialogFragmentDemo.DialogFragmentActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.screenRecord.RecordPushActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.screenRecord.RecordSaveActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.screenRecord.ScreenRecordActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.home.HomeActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.okhttp.OKHttpActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.broadcast.BroadcastActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.screenRecord.RecordSoundActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.camera.Camera2Activity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.language.NextActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.radarVIew.RadarActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.systemUI.SystemUIActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.roundImageVIew.RoundImageViewActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.android11storage.Android11StorageActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.diyExtension.DiyExtensionActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.Observer.ObserverActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".demo.deviceInfo.DeviceInfoActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />

        <receiver
            android:name=".demo.broadcast.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.example.study.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="dddddddd" />
                <action android:name="dfgkfkjndkfjnkdbf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".demo.screenRecord.service.RecordSaveService"
            android:foregroundServiceType="mediaProjection" />
        <service android:name=".demo.microWidget.ClockService" />

        <meta-data
            android:name="BUGLY_APPID"
            android:value="29f089a59e" />
        <meta-data
            android:name="BUGLY_APPKEY"
            android:value="58b8613e-e469-4da2-95ad-35f53e4a7940" />
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />
    </application>

</manifest>